
<!-- program for square -->

<title> Program of Square</title>
<input type="text" id="temp" placeholder="Enter any number" autofocus />
<button onclick="getsqr()">click me</button>

<div id ="res">
</div>

<script>

function getsqr(){
	x = parseInt(document.getElementById("temp").value);
	
	document.getElementById("res").innerHTML = x*x;
}
</script>